html, body {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display:flex;
}

body {
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #474747;
    min-height: 100vh;
}
h2{
    font-size: 2em;
    color:red;
}

.header{
    border-bottom: #474747 solid 2px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #d8d8d8;
    height: 60px;


}
.logo-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding: 0px 0px 0px 50px;
}

.header img{
    height: 60px;
    padding: 0px 18px 0px 0px;

}
.logo-text{
    background: #f6f9fa;
    border: #474747 solid 1px;
    border-radius: 2px;
    padding: 2px 5px;
    font-family: 'Indie Flower', cursive;
}
.menu{
    padding:0px 30px;
    height: 60px;



}

.menu a{

    text-decoration: none;
    padding: 20px 20px;

    display: inline-block;

    vertical-align:middle;
    border-bottom: 2px solid #d8d8d8;
}

.menu-selected{
    text-decoration: none;
    padding: 20px 20px;

    display: inline-block;

    vertical-align:middle;
    border-bottom: 2px solid #ff0055;
}

.menu a:hover{
border-bottom: 2px solid #ff0055;
}





.footer{
    background-color: #d8d8d8;
    border-top: #474747 solid 2px;
}

.footer p{
    padding: 8px 10px 8px 20px;
}

.err_message{
    color:red;
    font-size: 2em;
    padding: 5px;
    background-color: #d8d8d8;
    border: #474747 solid 2px;
    margin:10px 0px 150px;
}