.content {
    flex:auto;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

}



.big-image{
    max-width: 50%;
    padding: 20px;
}
.content-text{
    max-width: 50%;
    padding: 20px 40px;
}

.login-area{
    padding: 25px;
    background-color: #d8d8d8;
    color: #474747;
    border:4px;
    width: 200px;
    margin-left: 50px;
}



.login-area h3{
   font-size: 1.5em;
    margin-bottom: 10px;
}

.login-area p{
    margin-top: 10px;
}

.input-button{

    background-color: red;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;

    margin: 10px 10px 10px 50px ;
    border: white solid 2px;
    cursor: pointer;

}

.bottom-label{
    margin-left: 50px;
    margin-top: 15px;
}


