.content {
    flex:auto;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

}

.content h2{
    padding: 0px 0px 30px 0px;
}

.content a{
    display:block;
    background-color: red;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    width: 60px;
    margin: 30px ;
    border: white solid 2px;
    float:left;
}

.content a:hover{
border: #474747 solid 2px;

}
.big-image{
    max-width: 50%;
    padding: 20px;
}
.content-text{
    max-width: 50%;
    padding: 20px 40px;
}
